@mixin font($fw, $fz, $lh: 1) {
  font-family: $siteFont;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}
@mixin font2($fw, $fz, $lh: 1) {
  font-family: $siteFont2;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}
