* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  background: $bodyBgColor;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1090px;
}
